* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(to bottom, #f0f3f548, #e4ecf10a);
    color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Comic Neue', cursive;
  }
  
  .pantalla {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
  }
  
  .pantalla.activa {
    display: flex;
  }
  
  button {
    padding: 12px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background-color: #3A5A40;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #588157;
  }
  
  .zona-juego {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .objeto {
    font-size: 3rem;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
  }
  
  .objeto:hover {
    transform: scale(1.2);
  }
  
  .barra-tiempo {
    width: 80%;
    height: 16px;
    background-color: #555;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .progreso {
    width: 70%; /* Simulación */
    height: 100%;
    background-color: #84A98C;
  }
  
  .acciones {
    display: flex;
    gap: 1rem;
  }
  
  .idioma {
    margin-top: 10px;
    color: #AAA;
  }
  
  select {
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
  }

  .correcto {
    background-color: #588157;
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  .incorrecto {
    background-color: #B80C09;
    border-radius: 10px;
    transition: background 0.3s;
  }
  .cards-juegos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 20px;
}

.card-juego {
  background-color: #A2D5AB;
  color: #2C3E50;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s, background-color 0.3s;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comic Sans MS', 'Comic Neue', cursive;
}

.card-juego:hover {
  transform: scale(1.05);
  background-color: #a2d5ab;
}
.correcto {
  background-color: #A2D5AB;
  border-radius: 12px;
  transition: background 0.3s;
}

.incorrecto {
  background-color: #F7B6B6;
  border-radius: 12px;
  transition: background 0.3s;
}

.objeto.seleccionado {
  pointer-events: none; /* evita que lo cliquen de nuevo */
  opacity: 0.6;
}
